/* Navbar Css  */
* {
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  height: 10vh;
}

.logo {
  margin-left: 1%;
}
.name {
  font-family: "Inter", sans-serif;
  font-size: 3.5vw;
  margin-left: 2.5%;
}

.nav-menu {
  list-style: none;
  display: flex;
  position: absolute;
  right: 34%;
}

.nav-item a {
  text-decoration: none;
  padding: 10px 15px;
  color: gray;
  size: 16px;
  font-family: "Inter", sans-serif;
  transition: 0.3s;
}

.nav-item:hover a {
  color: black;
}

.nav-btn {
  position: absolute;
  right: 5%;
  background-color: #0153ff;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
}

/* Into Css */
.intro {
  margin-top: 5%;
  display: flex;
}

.intro-element1 {
  position: absolute;
  left: 5%;
  font-family: "Inter", sans-serif;
  font-size: 45px;
  font-weight: 1000;
  letter-spacing: 2px;
}

.intro-element2 {
  position: absolute;
  left: 5%;
  padding-top: 14%;
  font-family: "Inter", sans-serif;
  font-size: small;
}

.intro-pic {
  margin-top: 0;
  margin-left: 65%;
  width: 35%;
}
.different {
  color: #0153ff;
}

/* Search job Css */

.job-search {
  position: absolute;
  left: 5%;
  top: 70%;
  border: 0px solid;

  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  border-radius: 55px;
  padding: 10px;
  width: 580px;
}
.input-job {
  margin: 7px;
  font-size: 16px;
  width: 200px;
  height: auto;
  border: 0px solid;
  padding: 5px;
  padding-left: 35px;
  background: white url("../assets/search-12-24.png") left no-repeat;
}
.input-location {
  margin: 5px;
  font-size: 16px;
  width: 200px;
  border: 0px solid;
  padding: 5px;
  padding-left: 35px;
  background: white url("../assets/map-marker-2-24.png") left no-repeat;
}
.job-search i {
  position: absolute;
  left: 3;
  top: 17px;
  padding: 9px 8px;
  color: #0153ff;
}

.job-search i {
  position: absolute;
  left: 3;
  top: 17px;
  padding: 9px 8px;
}
.search-btn {
  background-color: #0153ff;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 50px;
  font-family: "Inter", sans-serif;
}

/* Job Category Css */

.job-cat {
  position: relative;
  margin-top: 7%;
  text-align: center;
}
.category-head {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #0153ff;
}
.category-title {
  margin-top: -1%;
  font-family: "Inter", sans-serif;
  font-size: 35px;
  font-weight: 600;
}

.text-1 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.text-2 {
  font-family: "Inter", sans-serif;
  font-size: 11px;
}
.column {
  float: left;
  width: 25%;
  transition: 0.3s;
  padding: 0 10px;
}
/* .column :hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    background-color: white;
    border-style: none;
    
 } */
.card1 {
  margin: 5%;
}
.row {
  margin: 0 -5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card {
  display: flex;

  padding: 16px;
  height: 75px;
  border-radius: 15px;
  text-align: left;
  border: 0.5px solid #e7eeff;
}

.card2 {
  display: flex;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  padding: 16px;
  height: 75px;
  margin-top: 10%;
  text-align: left;
  border-radius: 15px;
  border: 0.5px solid #e7eeff;
}
.icon-box {
  background-color: #615cfe;
  width: 4%;
  height: 4%;
  padding: 22px;
  margin: 3px;
  margin-top: 0%;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-box img {
  width: 100px;
  height: 20px;
}

.icon-box2 {
  background-color: #ffb615;
  width: 4%;
  height: 4%;
  padding: 22px;
  margin: 3px;
  margin-top: 0%;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-box2 img {
  width: 100px;
  height: 20px;
}
.icon-box3 {
  background-color: #ff1280;
  width: 4%;
  height: 4%;
  padding: 22px;
  margin: 3px;
  margin-top: 0%;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-box3 img {
  width: 100px;
  height: 20px;
}
.icon-box4 {
  background-color: #03d0a0;
  width: 4%;
  height: 4%;
  padding: 22px;
  margin: 3px;
  margin-top: 0%;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-box4 img {
  width: 100px;
  height: 20px;
}
.icon-box5 {
  background-color: #0c59f0;
  width: 4%;
  height: 4%;
  padding: 22px;
  margin: 3px;
  margin-top: 0%;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-box5 img {
  width: 100px;
  height: 20px;
}
.icon-box6 {
  background-color: #ff6b3e;
  width: 4%;
  height: 4%;
  padding: 22px;
  margin: 3px;
  margin-top: 0%;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-box6 img {
  width: 100px;
  height: 20px;
}
.icon-box7 {
  background-color: #05c2fe;
  width: 4%;
  height: 4%;
  padding: 22px;
  margin: 3px;
  margin-top: 0%;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-box7 img {
  width: 100px;
  height: 20px;
}
.icon-box8 {
  background-color: #ffb615;
  width: 4%;
  height: 4%;
  padding: 22px;
  margin: 3px;
  margin-top: 0%;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-box8 img {
  width: 100px;
  height: 20px;
}
.text-1 {
  padding-left: 10px;
  margin-top: 0%;
  margin-bottom: -5px;
}
.text-2 {
  padding-left: 10px;
}

/* Job Listing Css */

.job-listing {
  position: relative;
  margin-top: 7%;
  text-align: left;
  display: flex;
}
.list-head {
  margin-left: 75px;
  font-family: "Inter", sans-serif;
  font-size: 35px;
  font-weight: 600;
}

.list-para {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  margin-left: 75px;
}

.list-button {
  position: absolute;
  right: 5%;
  top: 45%;
  background-color: #0153ff;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
}
.list-menu {
  list-style: none;
  display: flex;
  margin-top: 45px;
  position: absolute;
  left: 2%;
}

.list-item a {
  text-decoration: none;
  padding: 10px 15px;
  color: gray;
  size: 16px;
  font-family: "Inter", sans-serif;
}
.list-item:hover a {
  color: black;
}

.list-column {
  float: left;
  /* width: 25%; */
  /* height: 100%; */
  /* flex: 1; */
  /* padding: 0 10px; */
}
/* .list-column :hover{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
   background-color: white;
   border-style: none;
 } */
.cardl {
  /* margin: 5%; */
  height: 100%;
}
.list-row {
  margin: 0 -5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . .";
  gap: 1rem;
}

@media (min-width: 600px) {
  .list-column {
    grid-template-columns: repeat(2, 1fr);
  }
}

.list-row:after {
  content: "";
  display: table;
  clear: both;
}
.cardl {
  padding: 16px;
  padding-bottom: 50px;
  border-radius: 15px;
  border: 1.5px solid #e7eeff;
}
.list-card {
  margin-top: 8%;
  margin-left: 3%;
  margin-right: 3%;
}
/* Job Card Css */
.card-head {
  float: left;
  padding: 0 5px;
  width: 100%;
}
.txt1 {
  float: left;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 4px;
}
.txt2 {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 4px;
  float: right;
}
.head-title {
  margin-left: 5.5px;
  font-family: "Noto Sans Mongolian", sans-serif;
  font-weight: 800;
  font-size: 22px;
}
.features {
  float: left;
  padding: 0 5px;
  margin-bottom: 5%;
}
.type {
  background-color: #e8f0ed;
  padding: 8px;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  color: green;
  border-radius: 12px;
  margin-right: 15px;
}
.job {
  background-color: #f1e9f2;
  padding: 8px;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  color: #a48590;
  border-radius: 12px;
  margin-right: 40px;
}
.loct {
  padding-top: 35px;
  margin-left: 2.5px;
  margin-bottom: 5px;
  font-family: "Noto Sans Mongolian", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.more-info {
  margin-top: 0px;
  margin-left: 2.5px;
  font-family: "Inter", sans-serif;
  font-size: 13px;
}
.cardbtn {
  float: left;
  padding-top: 0%;
  width: 100%;
}
.contact {
  background-color: white;
  border: 0.5 solid;
  border-color: #0153ff;
  color: #0153ff;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  width: 46%;
}
.apply {
  background-color: #0153ff;
  border: none;
  color: white;

  padding: 10px 20px;
  margin-left: 7%;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  width: 46%;
}

.resume_maker_container {
  height: 90vh;
  width: 100vw;
  background-color: white;
  overflow: hidden;
}
#input_fields_container {
  height: 90%;
  width: 70%;
  background-color: #cedeff;
  margin-top: 2%;
  margin-left: 2%;
  display: inline-block;
  padding: 1%;
}
.input_labels {
  display: inline-block;
  margin-top: 1%;
}
.inputs {
  height: 5vh;
  border-radius: 5px;
  border: none;
  padding-left: 2%;
  transition: 0.2s;
  font-size: 1.3vw;
}
.inputs:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#first_name {
  width: 45%;
}
#last_name {
  width: 45%;
  margin-left: 6%;
}
#submit_btn {
  margin-left: 43%;
  width: 10%;
  height: 5vh;
  margin-top: 5vh;
  background-color: #0153ff;
  border: none;
  border-radius: 5px;
  color: white;
  transition: 0.2s;
}
#submit_btn:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#preview_container {
  width: 27vw;
  height: 81vh;
  margin-top: 4vh;
  display: inline-block;
  position: absolute;
}
#details_div {
  width: 90%;
  height: 60%;
  border-top: 2px solid black;
  margin-left: 5%;
}
